*{
    margin: 0;
    padding: 0;
}

:root{
    --deep-blue-color:#2c294b;
    --low-blue-color:#403e5d;



    --eight-px:0.5rem;
    --twelve-px:0.75rem;
}

@font-face {
    font-family: 'sf_pro_display';
    src: url('sfprodisplayregular-webfont.woff2') format('woff2'),
         url('sfprodisplayregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body{
    background-color: #f8f8f8;
}
.header{
    background-color: var(--deep-blue-color);
    height: 50vh;
}
.search-menu{
    background-color: var(--low-blue-color);
    border: none !important;
    color: #fff !important;
    border-radius: .313rem;
    padding: var(--eight-px) var(--twelve-px);
}

.search-menu:focus{
    outline: none !important;
    background-color: var(--low-blue-color);
}
.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 8px;
}

.header h3{
    color: #fff;
    font-size: 1.5rem;
}

.device{
    color: #fff;
    font-size: var(--twelve-px);
}




.menu-icon{
    background-color: var(--low-blue-color);
    padding: 8px;
    color: #fff;
    border-radius: 50%;
}
.menu-search-option{
    
}
.menu-profile{
    background-color: #009ef7;
    margin-top: -10px;
    border-radius: 15px;
    padding: 3px;
}
.menu-profile p,a{
    color: #fff;
    text-decoration: none;
    padding-top: 6px;
    
}
.profile-name{
    font-size: 12px;
}








.left-menu-ber{
    background-color: #fff;
    width: 100%;
    
    margin-left: -15px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 20px;
}


.logo{
    color: #009ef7 !important;
    font-weight: 700;
}


.address-book,
.device{
    font-family: 'sf_pro_display';
}
.address-book{
    font-size: 28px;
}


.dasboard-fist-part{
    margin-left: 200px;
    margin-top: 20px;
}
.left-menubar{
    color: #d5d5d8 !important;
    font-weight: 700;
    margin-left: -35px;
}
.active{
    background-color: #fff !important;
    color: #000 !important;
}
.left-menu-1{
    font-family: 'sf_pro_display';
    color: #9c9baa;
    font-size: 18px;
}
.left-menu-1:hover{
    color: #9c9baa;
}
.left-menu-1:focus{
    color: #000;
    font-weight: 700;
}






















.navbar {  
    background: var(--deep-blue-color);  
      
    display: flex;  
    justify-content: center;  
    align-items: center;  
    font-size: 1.2rem;  
    position: sticky;  
    top: 0;  
    z-index: 999;  
  }  
  .navbar__container{  
    display: flex;  
    justify-content: space-between;  
    height: 80px;  
    z-index: 1;  
    width: 100%;  
    max-width: 1300px;  
    margin: 0 auto;  
    padding: 0 50px;  
  }  
  #navbar__logo{  
  background-color: #fff;  
  background-size: 100%;  
  -webkit-background-clip: text;  
  -moz-background-clip: text;  
  -webkit-text-fill-color: transparent;  
  -moz-text-fill-color: transparent;  
  display: flex;  
  align-items: center;  
  cursor: pointer;  
  text-decoration: none;  
  font-size: 1rem;  
  }  
  .navbar__menu{  
  display: flex;  
  align-items: center;  
  list-style: none;  
  }  
  .navbar__item{  
    
  }  
  .navbar__links{  
    color: #9c9baa !important;  
    display: flex;  
    align-items: center;  
    justify-content: center;  
    width: 125px;  
    text-decoration: none;  
    height: 100%;  
    transition: all 0.3s ease;  
  }  
  .navbar__btn{  
    display: flex;  
    justify-content: center;  
    align-items: center;  
    padding: 0 1rem;  
    width: 100%;  
  }  
  .button{  
    display: flex;  
    justify-content: center;  
    align-items: center;  
    text-decoration: none;  
    padding: 10px 20px;  
    height: 100%;  
    width: 100%;  
    border: none;  
    outline: none;  
    border-radius: 5px;  
    background: #833ab4;  
    color: #fff;  
    transition: all 0.3s ease;  
  }  
  .navbar__links:hover{   
    transition: all 0.3s ease;  
  }  
  @media screen and (max-width: 960px) {  
    .navbar__container{  
      display: flex;  
      justify-content: space-between;    
      z-index: 1;  
      width: 100%;  
      max-width: 1300px;  
      padding: 0;  
    }  
    .navbar__menu{  
      display: grid;  
      grid-template-columns: auto;  
      margin: 0;  
      width: 100%;  
      position: absolute;  
      top: -1000px;  
      opacity: 1;  
      transition: all 1s ease;  
      z-index: 1;  
    }  
    .navbar__menu.active{  
      background: #010101;
      top:100%; 
      opacity: 1;  
      transition: all 1s ease;  
      z-index: 99;    
      font-size: 1.6rem;  
    }  
    #navbar__logo{  
      padding-left: 25px;  
    }  
    .navbar__toggle .bar{  
      width: 25px;  
      height: 3px;  
      margin: 5px auto;  
      transition: all 0.3s ease;  
      background: #fff;  
    }  
    
    #navbar__logo{
        padding-left: 70px;
    }
    .navbar__links{  
      text-align: center;  
      padding: 2rem;  
      width: 100%;  
      display: table;  
      color: #fff;  
    }  
    .navbar__btn{  
      padding-bottom: 2rem;  
    }  
  
    #mobile-menu{  
      position: absolute;  
      top: 20%;  
      right: 5%;  
      transform: translate(5%,20%);  
    }  
    .navbar__toggle .bar{  
      display: block;  
      cursor: pointer;  
    }  
    #mobile-menu.is-active .bar:nth-child(2){  
    opacity: 0;  
    }  
    #mobile-menu.is-active .bar:nth-child(1){  
    transform: translateY(8px) rotate(45deg);  
    }  
    #mobile-menu.is-active .bar:nth-child(3){  
    transform: translateY(-8px) rotate(-45deg);  
    }  
  } 





  
  
  

@media screen and (min-width:1200px) and (max-width:1920px) {
    .dasboard-fist-part{
        margin-left: 300px;
    }
}




@media screen and (min-width:1921px) and (max-width:4000px){
    .dasboard-fist-part{
        margin-left: 23px;
    }
}


@media screen and (max-width:767px){
    .left-menu-ber{
        display: none;
    }
    .dasboard-fist-part{
        margin-left: 0;
    }
    .address-book{
        margin-top: -60px;
    }
    .search-menu{
        width: 200px !important;
        font-size: 12px;
    }
    .menu-profile{
        width: 150px;
        margin: 0 auto;
    }
    .header{
        height: auto;
        padding-bottom: 2rem;
    }
}


@media screen and (min-width:768px) and (max-width:991px){
    .left-menu-ber{
        display: none;
    }
    .right-part{
        display: none;
    }
    .header{
        height: auto;
        padding-bottom: 2rem;
    }
    .menu-profile{
        width: 150px;
        margin-top: -25px;
    }
    .address-book{
        margin-top: -60px;
    }
    .search-menu{
        width: 200px !important;
        font-size: 12px;
        margin-left: 10px;
    }
}



@media screen and (min-width:992px){
    #phone_menu{
        display: none;
      }
}










